---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('March 10, 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Dr. Kathy is a Board Certified Psychiatric Nurse Practitioner, formerly a Registered Nurse 
		with experience in adult, pediatric, and neonatal populations, in both acute and critical care. </p>
	<p>
		Her approach to patient care is inspired by her experience as mom, sister, and friend trying to 
		get appropriate mental health treatment for loved ones. </p>
	<p>
		The resources on this website are intended for use by her patients, in collaboration with 
		interdisciplinary treatment plans, medication management, and psychotherapy. </p>
	<p>
		Crisis resources include: </p>
	<p>
		Dial 988 for the crisis hotline </p>
	<p>
		Text Home to 741741 for text crisis support </p>
	<p>
		Dial 911
	</p>

</Layout>
