---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Patient Resources</h1>
			<p>
				<h3>Food and Exercise are Medicine</h3>
				<p><a href="/Antidepressant-Diet.pdf">Antidepressant Diet</a> helps with mood, anxiety, and ADHD too! </p>
				<p><a href="/Gut-brain-connection.pdf">Gut Brain Connection</a></p>
				<p><a href="/exercise-mental-health.pdf">Why exercise matters</a></p>

				<h3>Sleep</h3>
				<p><a href="/Sleep_Hygiene.pdf">Sleep Hygiene handout</a></p>
				<p><a href="https://mccmscontent.mayo.edu/PatientEducation/PatientLearning/index.html#/" target="_blank" rel=noopener noreferrer">Self-guided CBT for Insomnia from the Mayo Clinic</a></p>

				<h3>ADHD</h3>
				<p><a href="/ADHD_Focus_Tips.pdf">Focus Tips for ADHD</a></p>
				<p><a href="https://youtube.com/playlist?list=PLzBixSjmbc8eFl6UX5_wWGP8i0mAs-cvY&si=OzL2VruITKYhaRoh" target="_blank" rel="noopener noreferrer">Video series on parenting a child with ADHD</a></p>

				<h3>Safety, self harm</h3>
				<p><a href="/parent-handout-teen-selfharm.pdf">What parents should know about self harming behaviors</a></p>
				<p><a href="https://ucla.chsprc.com/" target="_blank" rel="noopener noreferrer">Lock and Protect site for parents of teens with suicidal ideations</a></p>

				<h3>Info on THC</h3>
				<p><a href="/THC_InfoSheet.pdf">Info sheet on marijuana use</a></p>
				<p><a href="/Marijuana_Talk_Kit_for_parents.pdf">Marijuana info for parents</a></p>
			</p>
		</main>
		<Footer />
	</body>
</html>
