---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Patient Resources</h1>
			<p>
				<h3>Food is Medicine</h3>
				<p><a href="/Gut-brain-connection.pdf">Gut Brain Connection</a></p>
				<p><a href="/Antidepressant-Diet.pdf">Antidepressant Diet</a> helps with mood, anxiety, and ADHD too! </p>

				<h3>Sleep and Cognitive Function</h3>
				<p><a href="/Sleep_Hygiene.pdf">Sleep Hygiene handout</a></p>
				<p><a href="https://www.thecarlatreport.com/blogs/2-the-carlat-psychiatry-podcast/post/3354-cbt-insomnia-a-patient-guide" target="_blank" rel=noopener noreferrer">Podcast episode on CBT for Insomnia</a></p>
				<p><a href="/ADHD_Focus_Tips.pdf">Focus Tips for ADHD</a></p>
				<p><a href="https://youtube.com/playlist?list=PLzBixSjmbc8eFl6UX5_wWGP8i0mAs-cvY&si=OzL2VruITKYhaRoh" target="_blank" rel="noopener noreferrer">Video series on parenting a child with ADHD</a></p>
			<p>
				<h3>Info on THC</h3>
				<p><a href="/THC_InfoSheet.pdf">What teens and young adults need to know about marijuana</a></p>
				<p><a href="/Marijuana_Talk_Kit_for_parents.pdf">Marijuana info for parents</a></p>
			</p>
		</main>
		<Footer />
	</body>
</html>
